<!DOCTYPE html>
<html>
<head>
    <title>Create New Mailing</title>
</head>
<body>
    <h1>Create New Mailing</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="text">Text:</label><br>
        <textarea id="text" name="text"></textarea><br><br>
        <label for="audience">Audience:</label><br>
        <input type="text" id="audience" name="audience"><br><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>
