<!DOCTYPE html>
<html>
<head>
    <title>Mailing List</title>
</head>
<body>
    <h1>Mailing List</h1>
    <a href="{% url 'create' %}">Create New Mailing</a>
    <ul>
        {% for mailing in mailings %}
            <li>
                <h3>{{ mailing.title }}</h3>
                <p>{{ mailing.text }}</p>
                <p>Audience: {{ mailing.audience }}</p>
                <p><a href="{% url 'update' mailing.id %}">Edit</a> | <form action="{% url 'delete' mailing.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete">
                </form></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
