<!DOCTYPE html>
<html>
<head>
    <title>Update Mailing</title>
</head>
<body>
    <h1>Update Mailing</h1>
    <form action="{% url 'update' mailing.id %}" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ mailing.title }}"><br><br>
        <label for="text">Text:</label><br>
        <textarea id="text" name="text">{{ mailing.text }}</textarea><br><br>
        <label for="audience">Audience:</label><br>
        <input type="text" id="audience" name="audience" value="{{ mailing.audience }}"><br><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
